
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.macbook-pro-14-1-Q2h {
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #050b22;
  box-sizing: border-box;
  padding-top: 3.9rem;
  position: relative;
  align-items: flex-end;
  flex-direction: column;

  .auto-group-nnhk-KJ5 {
    width: 140rem;
    height: 87.6rem;
    position: relative;
    flex-shrink: 0;

    .main-banner-ssK {
      top: 3.7rem;
      display: flex;
      align-items: center;
      width: 140rem;
      height: 83.9rem;
      position: absolute;
      left: 0;

      .left-block-v4u {
        flex-shrink: 0;
        margin: 16.4rem 15.9rem 30.9rem 0rem;
        width: 49.9rem;
        height: calc(100% - 47.3rem);
        border-radius: 10rem;

        .welcome-xnH {
          white-space: nowrap;
          margin-bottom: 1.5rem;
          font-size: 6.5rem;
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .katik-all-in-one-calculator-oH7 {
          line-height: 1.2307692308;
          color: #97aed3;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 3.6rem;
          max-width: 49.9rem;
          font-size: 6.5rem;
          font-weight: 600;
        }
        .auto-group-ezyv-TcZ {
          margin-right: 9.4rem;
          width: calc(100% - 9.4rem);
          display: flex;
          align-items: center;

          .apple-store-img-AWy {
            object-fit: cover;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 3.5rem;
            width: 18.5rem;
            height: 5.7rem;
          }
          .google-store-img-Rzd {
            flex-shrink: 0;
            width: 18.5rem;
            height: 5.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 10rem;
          }
        }
      }
      .group-1-JHj {
        background-image: url('REPLACE_IMAGE:c01ee96d60e1d6518e4fec6658dded16d991bca0');
        flex-shrink: 0;
        padding: 2.8rem 11.8rem 2.8rem 13rem;
        width: 74.2rem;
        background-position: -0.0133rem -17.6rem;
        background-size: 134.268% 124.469%;
        box-sizing: border-box;
        height: 100%;
        filter: blur(0.5rem);

        .right-block-BMX {
          width: 100%;
          height: 63.7785rem;
          position: relative;

          .round-VND {
            width: 15rem;
            top: 2.6rem;
            left: 0;
            border: solid 4rem #ffffff;
            box-sizing: border-box;
            box-shadow: 0 0 7rem rgba(255, 255, 255, 0.25);
            border-radius: 7.5rem;
            height: 15rem;
            position: absolute;
          }
          .round-iEy {
            position: absolute;
            top: 43.2rem;
            width: 20rem;
            height: 20rem;
            box-sizing: border-box;
            box-shadow: 0 0 7rem rgba(255, 255, 255, 0.25);
            border-radius: 10rem;
            left: 29.4rem;
            border: solid 4rem #ffffff;
          }
          .item-01-1-XiD {
            object-fit: cover;
            vertical-align: top;
            width: 40.2477rem;
            height: 63.7785rem;
            position: absolute;
            left: 4.1rem;
            top: 0;
          }
        }
        .group-1-JHj-bg {
          width: 74.2rem;
          height: 83.9rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:c01ee96d60e1d6518e4fec6658dded16d991bca0');
        }
      }
    }
    .logo-ct5 {
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-bgrk-L3P {
    flex-shrink: 0;
    margin: 0rem 0.094rem 3.2rem 0rem;
    width: 151.1058rem;
    height: 73.1rem;
    position: relative;

    .about-us-QZ3 {
      height: 69.1781rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      box-sizing: border-box;
      padding: 7.87rem 21.249rem 7.083rem 20.462rem;
      width: 151.1058rem;
      align-items: center;
      background-color: #1c1e32;

      .about-us-1-1-47o {
        background-position: -23.4517rem -4.223rem;
        background-image: url('REPLACE_IMAGE:23e3251fc77aca88a677ed6619b9baf6baecb510');
        flex-shrink: 0;
        margin: 7.004rem 7.003rem 0rem 0rem;
        width: 20.9344rem;
        height: 47.2206rem;
        position: relative;
        background-size: 351.334% 117.886%;
      }
      .auto-group-fbyh-UxD {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 10.541rem 23.695rem 0rem;
        width: 52.5rem;
        align-items: center;
        display: flex;

        .top-heading-CtD {
          margin: 0rem 14.718rem 4.208rem 22.982rem;
          width: calc(100% - 37.7rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .about-us-vJR {
            flex-shrink: 0;
            margin-bottom: 0.722rem;
            font-size: 3.148rem;
            font-weight: 900;
            line-height: 1.2500000303;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .design-qRP {
            align-items: center;
            flex-shrink: 0;
            margin-left: 0rem;
            display: flex;

            .line-1-yXb {
              background-color: #ffffff;
              flex-shrink: 0;
              margin: 0.138rem 0.472rem 0rem 0rem;
              width: 6.2961rem;
              height: 0.0787rem;
            }
            .x-tuT {
              line-height: 0.7000000364;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.3805rem;
              font-size: 1.574rem;
              font-weight: 300;
            }
            .line-2-1z5 {
              flex-shrink: 0;
              margin-top: 0.1379rem;
              width: 6.2961rem;
              height: 0.0787rem;
              background-color: #ffffff;
            }
          }
        }
        .right-block-ZEu {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .sub-heading-u3s {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.6rem;
            font-size: 2.5rem;
            font-weight: 800;
            line-height: 0.8814505005;
            color: #ffffff;
          }
          .paragraph-Ebw {
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.296250736;
            letter-spacing: 0.017rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 52.5rem;
          }
        }
      }
      .about-us-2-1-kqB {
        position: relative;
        background-size: 400.69% 127.085%;
        background-position: -27.6875rem -5.1527rem;
        background-image: url('REPLACE_IMAGE:068c498954e7fda8839956e687f7758f92b16696');
        flex-shrink: 0;
        margin-top: 3.6989rem;
        width: 18.416rem;
        height: 43.9151rem;
      }
    }
    .features-e9s {
      align-items: flex-start;
      width: 51.1rem;
      height: 31.3rem;
      position: absolute;
      left: 51.5rem;
      top: 41.8rem;
      display: flex;

      .box-aJR {
        flex-shrink: 0;
        margin-right: 7.7rem;
        width: 21.7rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-sdxy-KWu {
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 7.9rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-size: cover;
          background-image: url('REPLACE_IMAGE:0:43');
          flex-shrink: 0;

          .auto-group-emph-4UV {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 5.6rem 4.4rem 4.7rem 4.4rem;
            width: 100%;
            align-items: center;
            display: flex;

            .icon-Q2Z {
              background-color: #3d5d96;
              border-radius: 3.75rem;
              flex-shrink: 0;
              margin: 0rem 2.5rem 2.5rem 2.9rem;
              box-sizing: border-box;
              padding: 2rem;
              width: calc(100% - 5.4rem);

              .calculator-1-KQR {
                width: 3.5rem;
                height: 3.5rem;
                object-fit: cover;
                vertical-align: top;
              }
            }
            .luas-segitiga-2Jq {
              text-align: center;
              font-weight: 500;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.8rem;
              line-height: 1.5555555556;
              text-transform: uppercase;
              color: #ffffff;
            }
          }
          .rectangle-3-Y2H {
            height: 0.3rem;
            background: radial-gradient(0% 0% at 51.1% 50%, #3d5d96 0%, rgba(61, 93, 150, 0) 100%);
            flex-shrink: 0;
            width: 100%;
          }
        }
        .arrow-3-QKP {
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 2.5rem;
          width: 10rem;
          height: 0;
          object-fit: contain;
        }
      }
      .box-Liq {
        background-size: cover;
        background-image: url('REPLACE_IMAGE:0:52');
        width: 21.7rem;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        align-items: center;

        .auto-group-exjh-V5w {
          padding: 5.6rem 2.9rem 4.7rem 2.9rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .icon-cwF {
            padding: 2rem;
            width: calc(100% - 8.4rem);
            background-color: #3d5d96;
            border-radius: 3.75rem;
            flex-shrink: 0;
            margin: 0rem 4rem 2.5rem 4.4rem;
            box-sizing: border-box;

            .calculator-1-knZ {
              width: 3.5rem;
              height: 3.5rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .keliling-segitiga-tNy {
            text-align: center;
            font-weight: 500;
            line-height: 1.5555555556;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.8rem;
            text-transform: uppercase;
            color: #ffffff;
            white-space: nowrap;
          }
        }
        .rectangle-3-DRF {
          width: 100%;
          height: 0.3rem;
          background: radial-gradient(0% 0% at 51.1% 50%, #3d5d96 0%, rgba(61, 93, 150, 0) 100%);
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-ffob-Hg1 {
    margin-right: 0.1rem;
    width: 151.1rem;
    height: 128.2rem;
    position: relative;
    flex-shrink: 0;

    .box-1c1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 151.1rem;
      height: 70.6rem;
      position: absolute;
      left: 0;
      top: 0;

      .auto-group-7ua9-9iD {
        width: 100%;
        height: 52.7808rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 17.8192rem;

        .rectangle-2-sPK {
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 151.1rem;
          height: 52.7808rem;
          position: absolute;
          left: 0;
        }
        .luas-segitiga-oGy {
          font-family: Rubik, 'Source Sans Pro';
          white-space: nowrap;
          left: 3.1rem;
          line-height: 1.185;
          color: #ffffff;
          top: 3.8121rem;
          font-size: 3rem;
          font-weight: 500;
          width: 19.6rem;
          height: 3.6rem;
          position: absolute;
        }
        .rectangle-3-VvV {
          width: 151.1rem;
          height: 0.6767rem;
          position: absolute;
          left: 0;
          top: 52.1042rem;
          background: radial-gradient(0% 0% at 51.1% 50%, #3d5d96 0%, rgba(61, 93, 150, 0) 100%);
        }
        .pages-byX {
          height: 11rem;
          left: 26.6rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.8200000763;
          color: #ffffff;
          width: 39.2rem;
          position: absolute;
          top: 14.6rem;
          font-family: Inter, 'Source Sans Pro';

          .pages-byX-sub-0 {
            font-weight: 400;
            line-height: 1.8200000763;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
          }
          .pages-byX-sub-1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8200000763;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .pages-byX-sub-2 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.8200000763;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .pages-byX-sub-3 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.8200000763;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .image-removebg-preview-4-1-mgy {
          background-position: -10.4rem -1.6rem;
          background-image: url('REPLACE_IMAGE:ca76ede04c38008e1efbde3cb247825417a92e55');
          width: 41.9rem;
          height: 27rem;
          position: relative;
          left: 68.8rem;
          top: 2.5rem;
          background-size: 158.95% 138.889%;
        }
        .group-32-djB {
          top: 34.6rem;
          border-radius: 1.5rem;
          width: 39.0581rem;
          height: 3.5rem;
          position: absolute;
          left: 10.3rem;

          .group-9-AUD {
            width: 100%;
            height: 100%;
            border-radius: 1.5rem;

            .group-4-Kru {
              width: 100%;
              height: 100%;
              color: #1c1e32;
              white-space: nowrap;
              background-color: #1c1e32;
              border-radius: 1.5rem;
              box-sizing: border-box;
              padding: 0.9rem 2.1rem 0.8rem 2.1rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.185;
              font-family: Rubik, 'Source Sans Pro';
              border: solid 0.2rem #ffffff;
            }
          }
        }
        .group-33-NKP {
          width: 39.0581rem;
          height: 3.5rem;
          position: absolute;
          left: 52.9rem;
          top: 34.6rem;
          border-radius: 1.5rem;

          .group-9-uaD {
            border-radius: 1.5rem;
            width: 100%;
            height: 100%;

            .group-4-Gff {
              padding: 0.9rem 2.1rem 0.8rem 2.1rem;
              font-size: 1.5rem;
              line-height: 1.185;
              font-family: Rubik, 'Source Sans Pro';
              background-color: #1c1e32;
              border-radius: 1.5rem;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              font-weight: 300;
              color: #1c1e32;
              white-space: nowrap;
              border: solid 0.2rem #ffffff;
            }
          }
        }
        .group-34-LQd {
          position: absolute;
          left: 95.7rem;
          top: 34.6rem;
          border-radius: 1.5rem;
          width: 39.0581rem;
          height: 3.5rem;

          .group-9-gDb {
            width: 100%;
            height: 100%;
            border-radius: 1.5rem;

            .group-4-SiZ {
              white-space: nowrap;
              border: solid 0.2rem #ffffff;
              box-sizing: border-box;
              padding: 0.9rem 2.1rem 0.8rem 2.1rem;
              height: 100%;
              font-size: 1.5rem;
              line-height: 1.185;
              color: #1c1e32;
              width: 100%;
              font-weight: 300;
              font-family: Rubik, 'Source Sans Pro';
              background-color: #1c1e32;
              border-radius: 1.5rem;
            }
          }
        }
        .group-23-uMF {
          width: 13.3292rem;
          height: 3rem;
          position: absolute;
          left: 121.5rem;
          top: 45rem;
          border-radius: 1.5rem;

          .group-7-eZj {
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.185;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            font-weight: 500;
            display: flex;
            justify-content: center;
            background-color: #ffffff;
            height: 100%;
            white-space: nowrap;
            border: solid 0.2rem #1c1e32;
            color: #000000;
            font-family: Rubik, 'Source Sans Pro';
            border-radius: 1.5rem;
          }
        }
        .group-35-iJh {
          height: 3rem;
          position: absolute;
          left: 107rem;
          top: 45rem;
          border-radius: 1.5rem;
          width: 13.3292rem;

          .group-7-eTF {
            font-size: 1.2rem;
            line-height: 1.185;
            border-radius: 1.5rem;
            white-space: nowrap;
            justify-content: center;
            border: solid 0.2rem #1c1e32;
            background-color: #ffffff;
            text-align: center;
            font-weight: 500;
            color: #000000;
            font-family: Rubik, 'Source Sans Pro';
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            display: flex;
          }
        }
      }
      .arrow-3-XG9 {
        flex-shrink: 0;
        margin-left: 17.4078rem;
        width: 69.6313rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .box-GUd {
      left: 0;
      top: 57.6rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 151.1rem;
      height: 70.6rem;
      position: absolute;

      .auto-group-okch-ojT {
        margin-bottom: 17.8192rem;
        box-sizing: border-box;
        padding-bottom: 0rem;
        width: 100%;
        display: flex;
        background-size: cover;
        background-position: center;
        align-items: center;
        flex-direction: column;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:4:34');
        flex-shrink: 0;

        .auto-group-q5jb-jt1 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.5rem 3.1rem 4.104rem 3.1rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-gotz-rhj {
            margin: 0rem 37.3rem 5.1rem 0rem;
            width: 107.6rem;
            height: 27rem;
            position: relative;
            flex-shrink: 0;

            .keliling-segitiga-aNq {
              line-height: 1.185;
              color: #ffffff;
              white-space: nowrap;
              position: absolute;
              top: 1.3121rem;
              left: 0;
              font-size: 3rem;
              font-weight: 500;
              font-family: Rubik, 'Source Sans Pro';
              width: 23.1rem;
              height: 3.6rem;
            }
            .pages-Uj7 {
              width: 56.5rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.8200000763;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              height: 3.7rem;
              left: 9.3rem;
              top: 13.5rem;
              font-size: 2rem;
              white-space: nowrap;
              display: flex;
              align-items: baseline;

              .pages-Uj7-sub-0 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.8200000763;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .pages-Uj7-sub-1 {
              }
              .pages-Uj7-sub-2 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.8200000763;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .pages-Uj7-sub-3 {
              }
              .pages-Uj7-sub-4 {
                line-height: 1.8200000763;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2rem;
                font-weight: 700;
              }
            }
            .image-removebg-preview-4-2-NrR {
              background-position: -10.4rem -1.6rem;
              background-image: url('REPLACE_IMAGE:ca76ede04c38008e1efbde3cb247825417a92e55');
              width: 41.9rem;
              height: 27rem;
              position: relative;
              left: 65.7rem;
              top: 0;
              background-size: 158.95% 138.889%;
            }
          }
          .auto-group-fxzf-4UM {
            height: 3.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 13.242rem 6.9rem 7.2rem;
            width: calc(100% - 20.4419rem);

            .group-36-nQM {
              border-radius: 1.5rem;
              flex-shrink: 0;
              margin-right: 3.5419rem;
              width: 39.0581rem;
              height: 100%;

              .group-9-jqP {
                border-radius: 1.5rem;
                width: 100%;
                height: 100%;

                .group-4-WbF {
                  box-sizing: border-box;
                  padding: 0.9rem 2.1rem 0.8rem 2.1rem;
                  width: 100%;
                  height: 100%;
                  font-size: 1.5rem;
                  color: #1c1e32;
                  background-color: #1c1e32;
                  border-radius: 1.5rem;
                  font-weight: 300;
                  line-height: 1.185;
                  font-family: Rubik, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.2rem #ffffff;
                }
              }
            }
            .group-37-ZJd {
              flex-shrink: 0;
              margin-right: 3.7419rem;
              width: 39.0581rem;
              height: 100%;
              border-radius: 1.5rem;

              .group-9-u7b {
                width: 100%;
                height: 100%;
                border-radius: 1.5rem;

                .group-4-4mB {
                  font-weight: 300;
                  border-radius: 1.5rem;
                  box-sizing: border-box;
                  padding: 0.9rem 2.1rem 0.8rem 2.1rem;
                  width: 100%;
                  height: 100%;
                  font-size: 1.5rem;
                  line-height: 1.185;
                  color: #1c1e32;
                  font-family: Rubik, 'Source Sans Pro';
                  white-space: nowrap;
                  border: solid 0.2rem #ffffff;
                  background-color: #1c1e32;
                }
              }
            }
            .group-38-WNH {
              width: 39.0581rem;
              height: 100%;
              border-radius: 1.5rem;
              flex-shrink: 0;

              .group-9-GsF {
                width: 100%;
                height: 100%;
                border-radius: 1.5rem;

                .group-4-eUV {
                  font-family: Rubik, 'Source Sans Pro';
                  background-color: #1c1e32;
                  width: 100%;
                  height: 100%;
                  font-size: 1.5rem;
                  font-weight: 300;
                  line-height: 1.185;
                  color: #1c1e32;
                  box-sizing: border-box;
                  padding: 0.9rem 2.1rem 0.8rem 2.1rem;
                  border-radius: 1.5rem;
                  white-space: nowrap;
                  border: solid 0.2rem #ffffff;
                }
              }
            }
          }
          .auto-group-3ply-ttd {
            margin: 0rem 13.171rem 0rem 103.9rem;
            width: calc(100% - 117.0708rem);
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .group-40-pXP {
              margin-right: 1.1708rem;
              width: 13.3292rem;
              height: 100%;
              border-radius: 1.5rem;
              flex-shrink: 0;

              .group-7-mhX {
                color: #000000;
                font-family: Rubik, 'Source Sans Pro';
                box-sizing: border-box;
                background-color: #ffffff;
                border-radius: 1.5rem;
                width: 100%;
                line-height: 1.185;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                border: solid 0.2rem #1c1e32;
                height: 100%;
                font-size: 1.2rem;
                font-weight: 500;
                display: flex;
                text-align: center;
              }
            }
            .group-39-Sof {
              width: 13.3292rem;
              height: 100%;
              border-radius: 1.5rem;
              flex-shrink: 0;

              .group-7-cTF {
                font-size: 1.2rem;
                align-items: center;
                background-color: #ffffff;
                text-align: center;
                line-height: 1.185;
                display: flex;
                font-family: Rubik, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                border: solid 0.2rem #1c1e32;
                width: 100%;
                height: 100%;
                font-weight: 500;
                color: #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
              }
            }
          }
        }
        .rectangle-3-VG9 {
          background: radial-gradient(0% 0% at 51.1% 50%, #3d5d96 0%, rgba(61, 93, 150, 0) 100%);
          flex-shrink: 0;
          width: 100%;
          height: 0.6767rem;
        }
      }
      .arrow-3-At5 {
        flex-shrink: 0;
        margin-left: 17.4078rem;
        width: 69.6313rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
